
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100%;
    margin-bottom: 75px;
    overflow-x: hidden;
    display: grid;
    place-items: center;
    background: #eedfed;
    color: var(--accent);
    animation: bgFade 0.3s ease-in-out forwards;
    font-family: "Source Sans 3", sans-serif;
}


.title {
    top: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 100px;
    font-family: cursive;
    font-weight: 600;
    background: linear-gradient(90deg, #60509D, #D732A8, #60509D);
    background-size: 200% 100%;
    background-position: 0% 50%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: h1GradientShift 1s linear infinite;    
}


.skull {
    position: absolute;
    width: 50px;
    height: auto;
    filter: blur(3px);
}

.skull.left {
    left: 5%;
    top: 18%;
    animation: zoom 3s ease-in-out infinite;
}

.skull.right {
    right: 5%;
    top: 68%;
    animation: zoom 4.5s ease-in-out infinite;
}

.card {
    top: 20% ;
    width: 60%;
    height: 100%;
    max-height: 8000px;
    background: #e4cfe3;
    padding: 50px;
    border-radius: 80px 80px 80px 80px;
    border: 2px solid rgba(209, 58, 183, 0.6);
    box-shadow:
    0 24px 80px rgba(209, 58, 183, 0.18),
    0 8px 30px rgba(209, 58, 183, 0.12);
    pointer-events: auto;
}

.section-title {
    position: absolute;
    font-size: 50px;
    color: #c44eb7;
    margin-bottom: 20px;
    transform: translateX(100%) translateY(-60%);
    
}

label {
    display: block;
    margin-top: 20px ;
    margin-left: 5px;
    font-weight: 600;
    color: #7b2e83;
    font-size: 25px;
}


input {
    width: 100%;
    padding-left: 10px;
    border-radius: 12px;
    border: 2px solid #b14fd4;
    background: #d3d3d3;
    font-size: 30px;
    outline: none;
}

input:focus {
    border-color: #ff3cac;
}

.row {
    display: flex;
    gap: 20px;
    align-items: center;
}

.row input {
    flex: 1;
}

.delete-btn {
    width: 70px;
    height: 70px;
    border-radius: 12px;
    border: 2px solid #ff69b4;
    background: #f2f2f2;
    font-size: 22px;
    cursor: pointer;
}

.button-row {
    position: relative;
    height: 120px; 
}

.add-btn {
    position: absolute;
    top: 20px;
    left: -3px;

    width: 300px;     
    height: 75px;     

    border-radius: 12px;
    border: 2px solid #b14fd4;
    background: #e0e0e0;
    font-size: 30px;
    color: #c44eb7;
    cursor: pointer;
}


.calc-btn {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: 300px;    
    height: 75px;

    border-radius: 12px;
    border: none;
    background: linear-gradient(90deg, #ff3cac 0%, #784ba0 50%, #ff3cac 100%);
    background-size: 200% 100%;
    transition: background-position 1.45s ease;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.calc-btn:hover {
    background-position: right center;
}

.clear-btn {
    position: absolute;
    top: 20px;
    right: -5px;

    width: 300px;    
    height: 75px;

    border-radius: 12px;
    border: 2px solid #b14fd4;
    background: #e0e0e0;
    font-size: 30px;
    color: #c44eb7;
    cursor: pointer;
}


.note {
    margin-left: 5px;
    font-size: 15px;
    margin-top: 5px;
    color: #ff3cac;
}

@keyframes h1GradientShift {
    0% { background-position: 200% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

@keyframes float2 {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

@keyframes zoom {
    0% { transform: scale(1) rotate(0deg); }
    50% { transform: scale(1.25) rotate(360deg); }
    100% { transform: scale(1) rotate(0deg); }
}
