
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: #EDDDEC;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title {
    position: absolute;
    top: 15px;
    font-size: 100px;
    font-family: 'Cinzel', serif;
    font-weight: 600;
    background: linear-gradient(90deg, #60509D, #D732A8, #60509D);
    background-size: 200% 100%;
    background-position: 0% 50%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: h1GradientShift 1s linear infinite;    
}


.skull {
    position: absolute;
    width: 200px;
    height: auto;
}

.skull.left {
    left: -90px;
    top: -30px;
}

.skull.right {
    right: -90px;
    top: -30px;
}

.card {
    position: relative;
    width: 95%;
    max-width: 8000px;
    background: #e4cfe3;
    padding: 200px;
    border-radius: 80px 80px 80px 80px;
    border: 2px solid rgba(209, 58, 183, 0.6);
    box-shadow:
    0 24px 80px rgba(209, 58, 183, 0.18),
    0 8px 30px rgba(209, 58, 183, 0.12);
    pointer-events: auto;
}

.section-title {
    font-size: 100px;
    color: #c44eb7;
    margin-bottom: 25px;
}

label {
    display: block;
    margin-left: 15px;
    font-weight: 600;
    color: #7b2e83;
    font-size: 50px;
}


input {
    width: 100%;
    padding: 30px;
    border-radius: 12px;
    border: 2px solid #b14fd4;
    background: #d3d3d3;
    font-size: 60px;
    outline: none;
}

input:focus {
    border-color: #ff3cac;
}

.row {
    display: flex;
    gap: 20px;
    align-items: center;
}

.row input {
    flex: 1;
}

.delete-btn {
    width: 70px;
    height: 70px;
    border-radius: 12px;
    border: 2px solid #ff69b4;
    background: #f2f2f2;
    font-size: 22px;
    cursor: pointer;
}

.button-row {
    position: relative;
    height: 120px; 
}

.add-btn {
    position: absolute;
    top: 20px;
    left: -3px;

    width: 1200px;     
    height: 150px;     

    border-radius: 12px;
    border: 2px solid #b14fd4;
    background: #e0e0e0;
    font-size: 30px;
    color: #c44eb7;
    cursor: pointer;
}


.calc-btn {
    position: absolute;
    top: 20px;
    left: 1200px;

    width: 990px;    
    height: 150px;

    border-radius: 12px;
    border: none;
    background: linear-gradient(90deg, #ff3cac 0%, #784ba0 50%, #ff3cac 100%);
    background-size: 200% 100%;
    transition: background-position 1.45s ease;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.calc-btn:hover {
    background-position: right center;
}

.clear-btn {
    position: absolute;
    top: 20px;
    right: -5px;

    width: 200px;    
    height: 150px;

    border-radius: 12px;
    border: 2px solid #b14fd4;
    background: #e0e0e0;
    font-size: 30px;
    color: #c44eb7;
    cursor: pointer;
}


.note {
    margin-left: 5px;
    font-size: 30px;
    margin-top: 5px;
    color: #ff3cac;
}

@keyframes h1GradientShift {
    0% { background-position: 200% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}
