.result-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  background-color: #EDDDE8;
  min-height: 100vh;
}

.result-page > h1 {
  grid-column: 1 / -1;
  margin: 0;
  color: #00223d;
}

.panel1 { background: red; height: 500px; }
.panel2 { background: blue; height: 500px; }
.panel3 { background: yellow; height: 500px; }
.panel4 { background: green; height: 500px; }
